@page
@model BookShop.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @(Model.Book.Category != null ? Model.Book.Category.Name : "???")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Price)
        </dd>

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@(Model.Book.ImagePath)" style="height: 300px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.Id" class="btn btn-primary" style="letter-spacing:5px;">
        <i class="fa-solid fa-pen">&nbsp; EDIT</i>
    </a>

    <a asp-page="./Index" class="btn btn-primary" style="letter-spacing:5px;">
        <i class="fa-solid fa-arrow-left" style="letter-spacing:5px;">&nbsp; BACK</i>
    </a>
</div>
