@page
@model BookShop.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await HttpContext.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>




<a asp-page="Create" class="btn btn-success">
    <i class="fa-solid fa-plus" style="letter-spacing:5px;">&nbsp; CREATE</i>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @(item.Category != null ? item.Category.Name : "???")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.ImagePath" style="height: 80px;" />
            </td>

            <td style="letter-spacing:5px;">
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">
                    <i class="fa-solid fa-pen">&nbsp; EDIT</i>
                </a>

                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="fa-solid fa-circle-info">&nbsp; DETAILS</i>
                </a>

                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can">&nbsp; DELETE</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
