@page
@model BookShop.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-page="Create" class="btn btn-success">
    <i class="fa-solid fa-plus" style="letter-spacing:5px;">&nbsp; CREATE</i>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @(item.Category != null ? item.Category.Name : "???")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.ImagePath" style="height: 80px;" />
            </td>

            <td style="letter-spacing:5px;">
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">
                    <i class="fa-solid fa-pen">&nbsp; EDIT</i>
                </a>

                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="fa-solid fa-circle-info">&nbsp; DETAILS</i>
                </a>

                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can">&nbsp; DELETE</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<abpg current-page="@Model.Book.PageNum" total-pages="@Model.Book.PagesCount"></abpg>

