@model PageModel<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-2">
            <div class="dropdown">
                <button 
                    class="btn btn-secondary dropdown-toggle" 
                    type="button" 
                    id="dropdown" 
                    data-bs-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">

                    Categories
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdown">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <a class="dropdown-item" asp-controller="Book" asp-route-categoryName="@category.Name">
                            @category.Name
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <h2 class="text-center my-5">Categories</h2>

                <div class="row gy-5">
                    @{
                        var request = ViewContext.HttpContext.Request;
                        var returnUrl = request.Path + request.QueryString.ToUriComponent();
                    }

                    @foreach (var book in Model.Items)
                    {
                        <div class="col-md-3 col-sm-4 col-6 text-center" style="padding:0 3%;">
                            <div class="position-relative">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body">
                                        <img src="@book.ImagePath" style="border-radius: 20px; width: 100%;" />

                                        <p style="font-weight: bold; font-size: 1.5rem;">@Html.DisplayFor( _ => book.Title)</p>

                                        <form method="post">
                                            <button 
                                                asp-action="Add"
                                                asp-controller="Cart"
                                                asp-route-id="@book.Id"
                                                asp-route-returnurl="@returnUrl"
                                                class="btn btn-success btn-lg mb-1"
                                                style="box-shadow: none;">

                                                $@Html.DisplayFor( _ => book.Price) <i class="fa-solid fa-cart-shopping"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @{
            var categoryName = ViewContext.RouteData.Values["categoryName"];
        }

        <bpgr current-page="@Model.PageNum" total-pages="@Model.PagesCount" category-name="@categoryName"></bpgr>
    </div>
</div>