@model PageModel<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-2">
            <div class="dropdown">
                <button 
                    class="btn btn-secondary dropdown-toggle" 
                    type="button" 
                    id="dropdown" 
                    data-bs-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">

                    Categories
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdown">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <a class="dropdown-item" asp-controller="Book" asp-route-categoryId="@category.Id">
                            @category.Name
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <h2 class="text-center my-5">Categories</h2>

                <div class="row gy-5">
                    @{
                        var request = ViewContext.HttpContext.Request;
                        var returnUrl = request.Path + request.QueryString.ToUriComponent();
                    }

                    @foreach (var book in Model.Items)
                    {
                        <div class="col-md-3 col-sm-4 col-6 text-center" style="padding:0 3%;">
                            <div class="position-relative">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body">
                                        <img src="@book.ImagePath" style="border-radius: 20px; width: 100%;" />

                                        <p style="font-weight: bold; font-size: 1.5rem;">@Html.DisplayFor( _ => book.Title)</p>

                                        <form method="post">
                                            <button 
                                                asp-action="Add"
                                                asp-controller="Cart"
                                                asp-route-id="@book.Id"
                                                asp-route-returnurl="@returnUrl"
                                                class="btn btn-success btn-lg mb-1"
                                                style="box-shadow: none;">

                                                $@Html.DisplayFor( _ => book.Price) <i class="fa-solid fa-cart-shopping"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.PagesCount > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @{
                        var pageNum = Model.PageNum;
                        var pagesCount = Model.PagesCount;

                        var next = pageNum + 1 < pagesCount ? pageNum + 1 : pagesCount - 1;
                        var prev = pageNum - 1 >= 0 ? pageNum - 1 : 0;

                        var d = request.RouteValues;

                        var categoryId = request.Query["categoryId"].FirstOrDefault();
                    }

                    <li class="page-item">
                        <a class="page-link" asp-controller="Book" asp-action="Index" asp-route-categoryId="@categoryId" asp-route-pageNum="@prev" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 0; i < pagesCount; i++)
                    {
                        <li class="page-item @(i == pageNum ? "active" : string.Empty)">
                            <a class="page-link" asp-controller="Book" asp-action="Index" asp-route-categoryId="@categoryId" asp-route-pageNum="@i">@(i + 1)</a>
                        </li>
                    }

                    <li class="page-item">
                        <a class="page-link" asp-controller="Book" asp-action="Index" asp-route-categoryId="@categoryId" asp-route-pageNum="@next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

